/* Foillan Variables */

$width-tablet: 615px;
$width-desktop: 915px;

//Button Colours
$primary-button-colour: #153244;
$primary-button-font-colour: #FFF;
$primary-button-border-colour: #153244;
$primary-button-text-colour: #153244;
$primary-button-hover-colour: #2e4a5b;
$primary-button-disabled-colour: #A1ADB4;

$button-colour: #EBEBEB;
$button-border-colour: #ADADAD;
$button-text-colour: #000;
$button-hover-colour: #fafafa;
$button-disabled-colour: #ADADAD;

$delete-button-colour: #D01000;
$delete-button-border-colour: #D43F3A;
$delete-button-text-colour: #FFF;
$delete-button-hover-colour: #D9534F;
$delete-button-hover-border-colour: #AC2925;
$delete-button-disabled-colour: #ADADAD;