@import 'grid';
@import 'base';
@import 'forms';

.taxonomy-sidebar {
    @include column(5);
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.detail-pane {
    @include column(7);
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.detail-row {
    @include row(12);

    .detail-label {
        @include column(4);
    }

    .detail-value {
        @include column(8);
    }
}

.taxon-list {
    ul {
        padding-left: 0;
        margin-top: 0;

        li {
            list-style: none;
            border-bottom: thin dotted #80B23C;
            font-weight: bold;
            font-size: 0.8em;

            a {
                font-weight: normal;
                font-size: initial;
                color: initial;
                text-decoration: none;
            }
        }
    }
}

.search-form {
}

.taxonomy-summary {
    li {
        list-style: none;
        display: inline;
    }

    li:not(:first-child)::before {
        content: " > ";
    }
}

.vernacular-names {
    li {
        display: none;
        font-size: 0.8em;
        font-weight: normal !important;
        border: none !important;
    }

    li:after {
        content: ", ";
    }

    li:nth-child(-n+5) {
        display: inline;
    }
}

.sidebar-header {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0;
}

.taxon-detail {
    border: 1px solid lightgrey;
    margin: 1em 0;
    padding: 0 1.5em;
    background-color: #F2F7EB;
}

.add-taxon-form {
    border: 1px solid lightgrey;
    margin: 1em 0;
    padding: 0 1.5em;
    background-color: #F2F7EB;
}
