@using Foillan.Models.Biodiversity
@model Taxon

@{
    var taxonList = ViewBag["TaxonList"] as List<Taxon>;
}

@if (taxonList != null)
{
    if (taxonList.Any())
    {
        <div class="taxon-picker">
            @foreach (var taxon in taxonList)
            {
                @Html.RadioButtonFor( m => m, taxon.LatinName)
            }
        </div>
    }
}