@{
    ViewBag.Title = "Foillan Administration - Home";
}

<h2>Backoffice</h2>

<p>What would you like to do?</p>
<ul>
    <li>@Html.ActionLink("View Species in Database", "Species", "Biodiversity")</li>
</ul>