.navbar-inverse {
    background: #1355AB;
    color: white;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: white;
            text-decoration: underline;
        }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: #1355AB;
    }