<h3>Add Species from Existing Datasets</h3>
<p>
    Foillan supports the import of species information from comma-seperated-value (CSV) data sources.
    For the operation to be successful, your CSV file must be in the following format:
</p>
<ul>
    <li>Formatting rule 1</li>
    <li>Formatting rule 2</li>
    <li>Formatting rule 3</li>
    <li>Formatting rule 4</li>
</ul>

<p>Upload your file below:</p>
@using (Html.BeginForm("AddSpeciesBatch", "Biodiversity", FormMethod.Post, new {enctype = "multipart/form-data"} ))
{
    <label for="batch">Upload your CSV file here:</label>
    <input type="file" name="batch" id="batch" />
    <input type="submit" value="Submit" class="btn btn-primary" />
}