@model Foillan.WebUI.Areas.BackOffice.Models.TaxonViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Add a Taxon</h2>
        <p>Enter the details of your new taxon below:</p>
        @using (Html.BeginForm("AddTaxon", "Biodiversity", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.EditorFor(m => m.Taxon)
            
            <h5>Additional Details for Species and Sub-Species:</h5>
            @Html.EditorFor(m => m.AdditionalDetails.AlternativeNames)
            @Html.EditorFor(m => m.AdditionalDetails.Image)

            <br/>
            <input type="submit" value="Submit" class="btn btn-primary" />
        }
    </div>
</div>
